* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  line-height: 1.4em;
}

body {
  font-family: "Courier New", monospace;
  background-image: linear-gradient(140deg, crimson 42%, gold 100%);
  background-size: 120% 100%, cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2.6em;
  word-wrap: break-word;
  background: -webkit-linear-gradient(0deg, mediumpurple 15%, crimson 40%, coral 69%, gold 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

h1:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3), 2px 2px black, 4px 4px crimson, 6px 6px coral, 8px 8px gold, 10px 10px mediumpurple, 12px 12px black;
}

h2 {
  font-size: 1.4em;
  background: -webkit-linear-gradient(0deg, mediumpurple 15%, crimson 40%, coral 69%, gold 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.padded {
  max-width: 1200px;
  padding: 16px;
}

.flex-margined {
  margin: 24px 0px;
}

#wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#hero {
  background: #212529;
  display: flex;
}

#header {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 20vh;
}

#curved-div {
  margin: -2px 0px;
}

#curved-div svg {
  filter: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.1)) drop-shadow(0px 3px 2px rgb(0 0 0 / 0.3));
}

/* BREAK(POINTS) STUFF */

/* Mobile first for below 640 but above 360, everything else is media query. Breakpoints below except XXS are Tailwind defaults. */

/* Extra extra Smol, like iPhone 5 and Galaxy Fold, ugh */
@media screen and (max-width: 360px) {
  body {
    font-size: 0.8em;
  }
  h1 {
    font-size: 2.4em;
  }
}

/* Small */
@media screen and (min-width: 640px) {
  body {
    font-size: 1.2em;
  }
  h1 {
    font-size: 2.8em;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
  body {
    font-size: 1.4em;
    line-height: 2.6rem;
  }

  .padded {
    padding: 24px;
  }
}

/* Lorge */
@media screen and (min-width: 1024px) {
  body {
    font-size: 2em;
  }

  #header {
    padding-top: 48px;
  }

  #curved-div {
    margin: -24px 0px;
  }

  #main {
    padding-bottom: 48px;
  }
}

/* Extra-lorge */
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 3.2em;
  }

  h2 {
    font-size: 1.8em;
  }
}

/* Extra-extra-lorge */
@media screen and (min-width: 1536px) {
  h1 {
    font-size: 3.4em;
  }

  #hero {
    justify-content: center;
  }

  #header {
    width: 1250px;
  }

  #main {
    align-self: center;
  }

  #curved-div {
    margin: -48px 0px;
  }
}
